html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.selected {
  border-color: #00A8E6 !important;
  color: #00A8E6 !important;
}

.element>label>span.MuiTypography-root {
  width: max-content;
}

[id*=-list] {
  height: 50vh;
  padding: 1.5rem;
}

* ::-webkit-scrollbar {
  width: 0.8em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  /* outline: 1px solid slategrey; */
}